body{
    background-color:#ffffff;
    color:#0000ff;
}

.imagem{
    clear:both;
    height: 80px;
    border: 1px solid;
}

.logo{
	width:60px;
	height:60px; 
	float:left;
	border: 1px solid;
}

.titulo{
	border: 1px solid;
	float: left;
}
.menu{
	border: 1px solid;
	width: 130px;
	float: left;
}
.titulo2{
	border: 1px solid;
	width: 350px;
	float: left;
}